---
api:
  file: api-design.json
  operationId: post_auth-resend-verification
hidden: false
---